#DB เก็บข้อมูล
PORT=3000
DB_NAME=
DB_USER=
DB_PASS=000000
DB_HOST=1.1.1.1
DB_DIALECT=mysql

#DB PPK ข้อมูลในรพ. ดึงมาใช้
PORTPPK=3308
DBPPK_NAME=ppkhosp
DBPPK_USER=applog
DBPPK_PASS=applog
DBPPK_HOST=10.10.20.101
DBPPK_DIALECT=mysql

# PORT ใน app.js
PORTAPP=3001